<% if File.directory?(@requested_entry_path) %>
  <table>
    <thead>
      <tr>
	<th>name</th><th>age</th><th>size</th>
      <tr>
    </thead>
    <tbody>
      <% @listing.each do |entry| %>
        <tr>
          <td><img class="listing_icon" src="/images/<%= icon_for(entry[1]) %>" /> <a href="<%= url_for(entry[0]) %>"><%= entry[0] %></a></td>
	  <td><%= age(entry[0]) %></td>
	  <td><%= size(entry[0]) %></td>
	</tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <pre>
<%=h File.read(@requested_entry_path) %>
  </pre>
<% end %>